singularity.enabled = true
singularity.cacheDir = "$projectDir/scr/sif_images"
singularity.runOptions = "-B $projectDir"
singularity.autoMounts = true

conda.enabled = true
conda.cacheDir = "$projectDir/scr/conda_envs"

executor {
    $slurm {
        // total number of jobs that can be submitted at the same time
        queueSize = 10
    }

    $local {
        cpus = 8
        // total number of jobs that can be submitted at the same time
        queueSize = 10
    }
}


profiles {

    // local
    standard {
        process{
            executor = 'local'
            cpus = 8

            withName: 'run_simpan' {
                container = 'plaquette/simpan:dev'
                containerOptions = '-B $(pwd):/SimPan/'
            }

            withName: 'bp_gbk2gff3' {
                container = 'bioperl/bioperl:latest'
            }
        }
    }

    cluster {
        
        process {

            executor = 'slurm'

            withName: 'run_simpan' {
                container = 'plaquette/simpan:dev'
                containerOptions = '-B $(pwd):/SimPan/'
            }
            
            withName: 'bp_gbk2gff3' {
                container = 'bioperl/bioperl:latest'
            }

            withLabel: 'q_big' {
                time = '1-00:00:00'
                cpus = 8
                memory = '20G'
                clusterOptions = '--qos=1day'
            }

            withLabel: 'q_medium' {
                time = '00:30:00'
                cpus = 8
                memory = '20G'
                clusterOptions = '--qos=30min'
            }

            withLabel: 'q_medium_long' {
                time = '06:00:00'
                cpus = 8
                memory = '80G'
                clusterOptions = '--qos=6hours'
            }

            withLabel: 'q_mini_long' {
                time = '06:00:00'
                cpus = 2
                memory = '2G'
                clusterOptions = '--qos=6hours'
            }

            withLabel: 'q_mini' {
                time = '00:30:00'
                cpus = 2
                memory = '2G'
                clusterOptions = '--qos=30min'
            }
        }
    }
}
